/* TABLE TITLE */
.custom-card {
  background-color: var(--clr-bg-card);
  color: #eee;
  border: 1.5px solid #2f333b;
  border-radius: 12px;
}

/* BUTTONS */
.me-2 {
  background: var(--clr-highlight-low-op) !important;
  border: 0.1rem solid var(--clr-highlight) !important;
  margin-block: 0.5rem 2rem;
  transition: all 0.2s;
  border-radius: 10px;
  padding: 1.2rem;
}

.me-2:hover {
  background: var(--clr-highlight-low-op-2) !important;
}

/* SEARCH INPUT */
.search-input {
  background: var(--clr-bg-card) !important;
  border: 1px solid var(--clr-highlight-low-op) !important;
  width: 100%;
  max-width: 400px;
  display: block;
  margin-inline: auto;
  border-radius: 12px;
  margin-block: 1rem;
  padding: 1rem 0.5rem 1rem 1rem;
  color: var(--clr-highlight-low-op-2);
  font-weight: 400;
  transition: all 0.2s;
}

.search-input:focus,
.search-input:hover {
  outline: 1px solid var(--clr-highlight);
  color: var(--clr-highlight);
}

/* TABLE */
.mat-elevation-z8 {
  background-color: var(--clr-bg-table);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}

/* TABLE THEAD */
.mat-mdc-header-row {
  overflow: hidden !important;
  border-radius: 12px !important;
  color: var(--clr-highlight) !important;
  background-color: var(--clr-bg-title-table) !important;
}

.mat-mdc-header-cell {
  font-size: 1rem;
  font-weight: 400;
}
